/* bangers-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/bangers-v25-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* blinker-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Blinker';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/blinker-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
    background-image: linear-gradient(to right, rgba(220, 29, 29, 0.767), rgba(12, 111, 191, 0.792)), url(images/city_background.jpg);
    background-size: cover;
    background-position: top center;
    height: 500px;
    background-repeat: repeat-y;
}

h1 {
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  color: white;
  -webkit-text-stroke-width: 1.5px;-webkit-text-stroke-color: rgb(205, 15, 15);
  text-align: center;
  font-size: 70px;
}

h2 {
  font-family: 'Blinker';
  font-style: normal;
  font-weight: 700px;
  font-style: bold;
  color: white;
  text-align: center;
  font-size: 40px;
}

h3 {
  font-family: 'Blinker';
  font-style: normal;
  font-weight: 700px;
  font-style: bold;
  color: white;
  text-align: center;
  font-size: 40px;
}

.DISCLAIMER p {
  font-family: 'Blinker';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  font-style: bold;
  text-align: center;
  color: white;
  padding-bottom: 50px;
}

.RWMEG p {
  font-family: 'Blinker';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  font-style: bold;
  text-align: center;
  color: white;
  float: left;
  padding-left: 70px;
  padding-right: 90px;
  text-emphasis-position: center;
}

.FSA p {
  font-family: 'Blinker';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  font-style: bold;
  text-align: center;
  color: rgb(255, 255, 255);
  float: left;
  padding-left: 20px;
  padding-right: 180px;
  text-emphasis-position: center;
}

.FSRB p {
  font-family: 'Blinker';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  font-style: bold;
  text-align: center;
  color: rgb(255, 255, 255);
  float: left;
  padding-left: 60px;
  padding-right: 60px;
  text-emphasis-position: center;
}

.FSS p {
  font-family: 'Blinker';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  font-style: bold;
  text-align: center;
  color: rgb(255, 255, 255);
  float: left;
  padding-left: 70px;
  padding-right: 60px;
  text-emphasis-position: center;
}

.container {
	margin: center;
	padding: 20px 0 30px 320px;	
	text-align: CENTER;
}

nav a {
	display: inline-block;
	text-decoration: none;
	font-size: 2.2em;
	color: #ffffff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav a {
  -webkit-transition: -webkit-transform .3s,
                      background-color 1s ease-in .2s;
}

nav a:hover {
    color: rgb(90, 214, 255);
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

nav {
	margin: center;	
}

nav li {
	display: inline;
}

nav ul li {
	padding: 0 17px;
}

.logo {
	position: absolute;
	z-index: 100;
	left: 60px;
    top: 15px;
  -webkit-transition: -webkit-transform .4s;
}

.logo:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.RWMEGLOGO {
  padding-top: 30px;
}

.RWMEG {
  border: 9px solid rgb(236, 118, 20);
  max-width: 1100px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  padding: 18px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.301)),
  url(images/earth.avif);
  background-size: cover;
  background-position: center;
  display: grid;
  align-items: center;
  grid-template-columns: 300px 650px;
  gap: 15px 140px;
}

.FSALOGO {
  padding-top: 30px;
  padding-left: 30px;
}

.FSA {
  border: 9px solid rgb(192, 12, 12);
  max-width: 1100px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  padding: 18px;
  background: linear-gradient(rgba(0, 0, 0, 0.658), rgba(100, 8, 8, 0.301)),
  url(images/fightingarena.avif);
  background-size: cover;
  background-position: center;
  display: grid;
  align-items: center;
  grid-template-columns: 300px 650px;
  gap: 15px 310px;
}

.FSRBLOGO {
  padding-top: 30px;
  padding-left: 30px;
}

.FSRB {
  border: 9px solid rgb(123, 15, 156);
  max-width: 1100px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  padding: 18px;
  background: linear-gradient(rgba(171, 109, 243, 0.541), rgba(83, 12, 141, 0.705)),
  url(images/rapstage.avif);
  background-size: cover;
  background-position: center;
  display: grid;
  align-items: center;
  grid-template-columns: 300px 650px;
  gap: 15px 200px;
}

.FSSLOGO {
  padding-top: 30px;
  padding-left: 30px;
}

.FSS {
  border: 9px solid rgb(130, 230, 255);
  max-width: 1100px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  padding: 18px;
  background: linear-gradient(rgba(14, 57, 136, 0.589), rgba(16, 113, 151, 0.719)),
  url(images/shortsbackground.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  align-items: center;
  grid-template-columns: 300px 650px;
  gap: 15px 200px;
}