/* bangers-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/bangers-v25-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* blinker-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Blinker';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/blinker-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
    background-image: linear-gradient(to right, rgba(220, 29, 29, 0.767), rgba(12, 111, 191, 0.792)), url(images/city_background.jpg);
    background-size: cover;
    background-position: top center;
    height: 400px;
    background-repeat: repeat-y;
}

.WDD {
  position: absolute;
  display: flex;
}

h1 {
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  color: white;
  -webkit-text-stroke-width: 1.5px;-webkit-text-stroke-color: rgb(205, 15, 15);
  text-align: center;
  font-size: 50px;
}

h2 {
  font-family: 'Blinker';
  font-style: normal;
  font-weight: 700px;
  font-style: bold;
  color: white;
  text-align: center;
  font-size: 40px;
}

h3 {
  font-family: 'Blinker';
  font-style: normal;
  font-weight: 700px;
  font-style: bold;
  color: white;
  text-align: center;
  font-size: 40px;
}

p {
  font-family: 'Blinker';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  font-style: bold;
  text-align: center;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
}

.DISCLAIMER p {
  font-family: 'Blinker';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  font-style: bold;
  text-align: center;
  color: white;
  padding-bottom: 50px;
}

nav a {
	display: inline-block;
	text-decoration: none;
	font-size: 2.2em;
	color: #ffffff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav a {
  -webkit-transition: -webkit-transform .3s,
                      background-color 1s ease-in .2s;
}

nav a:hover {
    color: rgb(90, 214, 255);
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

nav {
	margin: center;	
}

nav li {
	display: inline;
}

nav ul li {
	padding: 0 17px;
}

.container {
	margin: center;
	padding: 20px 0 30px 320px;	
	text-align: CENTER;
}

.logo {
	position: absolute;
	z-index: 100;
	left: 60px;
    top: 15px;
  -webkit-transition: -webkit-transform .4s;
}

.logo:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.Episode1 {
    margin-right: auto;
    margin-left: auto;
    display: block;
    border: 7px solid rgb(205, 15, 15);
    border-radius: 10px;
}

.OC {
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  display: block;
  transform-origin: center;   /* pivot point */
  animation: seesaw 4s ease-in-out infinite alternate;
}

@keyframes seesaw {
    0%   { transform: rotate(-20deg); }
    100% { transform: rotate(20deg); }
}

.contact {
  font-size: 35px;
  color: #ffffff;
	text-shadow: 5px 5px 10px rgba(0,0,0,.5);
  display: block;
  text-align: center;
  font-family: 'Blinker';
  font-weight: 700px;
  font-style: bold;
  margin-bottom: 6px;
	text-align: center;
}

#contact {
    width: 60%;
    height: 50%;
    font-size: 25px;
    padding: 6px;
    border-radius: 9px;
    border: 4px solid rgb(129, 8, 8);
    display: block;
    margin: 0 auto 20px;
}

#comment {
    width: 60%;
	height: 90px;
    font-size: 15px;
    padding: 6px;
    border-radius: 9px;
    border: 4px solid rgb(129, 8, 8);
    display: block;
    margin: 0 auto 20px;
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 6px 12px;
    border-radius: 7px;
    border: none;
    font-size: 20px;
	text-align: center;
  cursor: pointer;
	font-family: 'Blinker';
	background-image: linear-gradient(to right, rgba(220, 29, 29, 0.767), rgba(12, 111, 191, 0.792));
	color: white;
	border: 3px solid rgb(255, 255, 255);
}

input[type="submit"] {
  -webkit-transition: -webkit-transform .3s,
                      background-color 1s ease-in .2s;
  transition: transform .3s,
              background-color 1s ease-in .1s;
}
input[type="submit"]:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}